/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top:60px;
}

.content-inner {
    max-width:1200px;
    margin:0px auto;
    padding-top:10px!important;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */

.full-width{width:100%;}
.panel-center { margin:0px auto; box-shadow: 1px 2px 2px hsla(0,0%,50%,.4); padding-bottom:60px;}
.panel-center .form-group{ margin:0px auto; max-width:350px; margin-bottom:30px;}
.panel-title { color:#4a99e2; font-size:26px; margin:25px auto; margin-bottom:35px; }

@media (min-width: 1200px)
{
    .panel-center { width: 85%; }
    .content-inner { padding-top:40px!important; padding:40px 30px 30px 30px; }
}


